// Цвета
$white: #fff;
$darkgrey: #333333;
$grey: #666666;
$lightgrey: #cccccc;
$red: #ff4e50;

// Шрифты
$f1: Montserrat;
$f2: Roboto;
$f3: Arial;

@mixin font ($color, $size, $family, $lh) {
	color: $color;
	font-size: $size;
	font-family: $family; 
	line-height: $lh; 
}